.outline {
    width: 100%;
    height: 420px;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.15);
    font-family: 'Prompt', sans-serif;
}

.h1 {
    text-align: center;
    font-family: 'Prompt', sans-serif;
}

.outline h3 {
    margin-left: 20px;
    font-family: 'Prompt', sans-serif;
}

.colorbox1 {
    width: 150px;
    height: 325px;
    background-color: #5062FF;
    border-radius: 15px;
}

.colorbox2 {
    position: absolute;
    top: 966px;
    left: 220px;
    width: 150px;
    height: 150px;
    background-color: #ffffff;
    border-radius: 15px;
    border-color: #333333;
    border-style: solid;
    margin-top: 30px;
}

.colorbox3 {
    position: absolute;
    top: 1140px;
    left: 223px;
    width: 150px;
    height: 150px;
    background-color: #333333;
    border-radius: 15px;
    margin-top: 30px;
}

.color {
    padding-top: 30px;
    width: 100%;
    height: 370px;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.15);
    font-family: 'Prompt', sans-serif;
}

.icon {
    padding-top: 30px;
    width: 100%;
    height: 200px;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.15);
    font-family: 'Prompt', sans-serif;
    background-image: url(icon.png);
    background-repeat: no-repeat;
}

.textsize {
    width: 100%;
    height: 300px;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.15);
    font-family: 'Prompt', sans-serif;
}

.textsize h1 {
    font-size: 48px;
    font-weight: bold;
    padding-left: 20px;
    font-family: 'Prompt', sans-serif;
}

.textsize h2 {
    font-size: 36px;
    font-weight: bold;
    padding-left: 20px;
    font-family: 'Prompt', sans-serif;
}

.textsize h3 {
    font-size: 24px;
    font-weight: normal;
    padding-left: 20px;
    font-family: 'Prompt', sans-serif;
}

.textsize h4 {
    font-size: 16px;
    font-weight: normal;
    padding-left: 20px;
    font-family: 'Prompt', sans-serif;
}

.paragraph {
    width: 100%;
    height: 270px;
    padding-left: 20px;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.15);
    font-family: 'Prompt', sans-serif;
}

.card {
    width: 100%;
    height: 150px;
    padding-left: 20px;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.15);
    font-family: 'Prompt', sans-serif;
}

.nav1 {
    width: 100%;
    height: 100px;
    padding-left: 20px;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.15);
    font-family: 'Prompt', sans-serif;
}

.nav2 {
    width: 100%;
    height: 100px;
    padding-left: 20px;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.15);
    font-family: 'Prompt', sans-serif;
}

.table {
    width: 100%;
    height: 150px;
    padding-left: 20px;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.15);
    font-family: 'Prompt', sans-serif;
}

.figure {
    width: 100%;
    height: 350px;
    padding-left: 20px;
    font-family: 'Prompt', sans-serif;
    display: flex;
}

.gameshow {
    list-style: none;
    display: flex;
    justify-content: center;
}

.boxa {
    width: 300px;
    height: 300px;
    background-color: rgb(221, 221, 221);
    border-radius: 15px;
}

.boxb {
    width: 300px;
    height: 300px;
    background-color: rgb(221, 221, 221);
    margin-left: 50px;
    border-radius: 15px;
}

.boxc {
    width: 300px;
    height: 300px;
    background-color: rgb(221, 221, 221);
    margin-left: 50px;
    border-radius: 15px;
}

.boxd {
    width: 300px;
    height: 300px;
    background-color: rgb(221, 221, 221);
    margin-left: 50px;
    border-radius: 15px;
}

.boxe {
    width: 300px;
    height: 300px;
    background-color: rgb(221, 221, 221);
    margin-left: 50px;
    border-radius: 15px;
}

.boxa:hover {
    background-color: #333333af;
    display: block;
    transition: all 500ms;
}

.boxb:hover {
    background-color: #333333af;
    display: block;
    transition: all 500ms;
}

.boxc:hover {
    background-color: #333333af;
    display: block;
    transition: all 500ms;
}

.boxd:hover {
    background-color: #333333af;
    display: block;
    transition: all 500ms;
}

.boxe:hover {
    background-color: #333333af;
    display: block;
    transition: all 500ms;
}

.gameshow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.gameshow div {
    width: 410px;
    height: 410px;
    margin: 0 50px 50px 0;
    background-color: rgb(221, 221, 221);
    list-style: none;
}

.box1 {
    background-size: cover;
    border-radius: 15px;
}

.box2 {
    width: 300px;
    height: 300px;
}

.box3 {
    background-size: cover;
    border-radius: 15px;
}

.box4 {
    background-size: cover;
    border-radius: 15px;
}

.box5 {
    background-size: cover;
    border-radius: 15px;
}

.box6 {
    background-size: cover;
    border-radius: 15px;
}

.box7 {
    background-size: cover;
    border-radius: 15px;
}

.box8 {
    background-size: cover;
    border-radius: 15px;
}

.card ul {
    list-style: none;
    display: flex;
}

.card1 {
    margin: 40px 0 0 20px;
    width: 200px;
    height: 60px;
    border-color: #5062FF;
    border-style: solid;
    border-radius: 15px;
    text-align: center;
}

.card2 {
    width: 200px;
    height: 60px;
    background-color: #5062FF;
    border-radius: 15px;
    margin: 40px 0 0 20px;
    text-align: center;
    color: #ffffff;
}

.card3 {
    width: 200px;
    height: 60px;
    background-color: #dbdbdb;
    border-radius: 15px;
    margin: 40px 0 0 20px;
    text-align: center;
}

.card4 {
    width: 200px;
    height: 60px;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    margin: 40px 0 0 20px;
    text-align: center;
}

.card5 {
    width: 100px;
    height: 100px;
    background-color: #5062FF;
    border-radius: 100px;
    margin: 20px 0 0 20px;
}

.nav1 a:hover {
    background-color: #5062FF;
    color: white;
    text-decoration: none;
}


.nav1 ul {
    list-style: none;
    display: flex;
}

.nav1 a {
    text-decoration: none;
    color: black;
    border-radius: 10px;
    padding: 10px 30px;
}

.nav2 a:hover {
    text-decoration: underline #5062FF 3px;
}

.nav2 ul {
    list-style: none;
    display: flex;
}

.nav2 a {
    text-decoration: none;
    color: black;
    border-radius: 10px;
    padding: 10px 30px;
}

.input {
    width: 100%;
    height: 500px;
    padding-left: 20px;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.15);
    font-family: 'Prompt', sans-serif;
}

.button {
    width: 100%;
    height: 230px;
    padding-left: 20px;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.15);
    font-family: 'Prompt', sans-serif;
}

.hotdog {
    width: 100%;
    height: 150px;
    padding-left: 20px;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.15);
    font-family: 'Prompt', sans-serif;
}

.select {
    width: 100%;
    height: 100px;
    padding-left: 20px;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.15);
    font-family: 'Prompt', sans-serif;
}

.input1 {
    height: 30px;
    width: 200px;
    border: 3px solid #5062FF;
    border-radius: 10px;
}

.input2 {
    height: 30px;
    width: 200px;
    border: 3px solid #5062FF;
    border-radius: 10px;
}

.input3 {
    height: 30px;
    width: 200px;
    border: 3px solid #5062FF;
    border-radius: 10px;
}


.form-label {
    display: inline-block;
    background-color: transparent;
    border-width: 0;
    padding: 0.2em 0.5em;
    font: inherit;
    color: inherit;
    width: 100%;
    border-bottom: 1px solid;
    outline: 0;
}

.form-label:focus {
    border-bottom-color: var(--color-main-light);
}

.btn1 {
    width: 100px;
    height: 50px;
    background-color: #5062FF;
    color: white;
    font-size: large;
    border-radius: 10px;
    border: none;
}

.btn1:hover {
    color: black;
    background-color: aqua;
}

.btn2 {
    text-align: center;
    width: 300px;
    height: 50px;
    background-color: #dfdfdf;
    color: black;
    font-size: large;
    border-radius: 10px;
    border: none;
}

.btn2:active {
    background-color: #5062FF;
}

.hotdog1 {
    margin-top: 30px;
    border-radius: 30px;
    width: 300px;
    height: 30px;
    border-color: #5062FF;
    font-family: 'Prompt', sans-serif;
}

.hotdog2 {
    margin-top: 30px;
    border-radius: 30px;
    width: 200px;
    height: 30px;
    background-color: rgb(160, 160, 160);
    border-color: #5062FF;
    font-family: 'Prompt', sans-serif;
}

label {
    font-size: 16px;
    margin-right: 10px;
}

select {
    margin-top: 30px;
    padding: 8px;
    font-size: 14px;
    border: 3px solid #5062FF;
    border-radius: 4px;
    outline: none;
    font-family: 'Prompt', sans-serif;
}

.checkbox {
    width: 100%;
    height: 230px;
    padding-left: 20px;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.15);
    font-family: 'Prompt', sans-serif;
}

.control {
    color: #333333;
    border-left-width: 0px !important;
    border-right-width: 0px !important;
    border-top-width: 0px !important;
    border-bottom: 1px solid #333333;
    background-color: transparent;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #5062FF;
}

input:focus+.slider {
    box-shadow: 0 0 1px #5062FF;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}