.workbox {
    height: 200px;
    width: 300px;
    background-image: url(../image/dailywork.png);
    margin: 10px 10px 10px 10px;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 5px 5px 5px #0000001f;
}

.card {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.199);
}

.card-flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}