.heading {
    position: absolute;
    top: 150px;
    left: 800px;
}

.work1 {
    position: absolute;
    top: 270px;
    left: 200px;
    width: 430px;
    height: 300px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 5px #0000001f;
    background-image: url(../image/project\ cover3.png);
}

.work2 {
    position: absolute;
    top: 270px;
    left: 680px;
    width: 430px;
    height: 300px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 5px #0000001f;
    background-image: url(../image/project\ cover1.png);
}

.work3 {
    position: absolute;
    top: 270px;
    left: 1160px;
    width: 430px;
    height: 300px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 5px #0000001f;
    background-image: url(../image/project\ cover2.png);
}